/* CSS declarations go here */

.lb-dot-active {
  fill: blue;
}

body {
  background-color: black;
}

.lb-grid {
  background-color: black;
  border: solid;
  border-color: blue;
  border-width: 1px;
}
